thead,
tfoot {
    background-color: #bc9618;
    color: #000;
    font-size: medium;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 0.8rem;
    box-shadow: 4px 4px 12px #322b38, -4px -4px 12px #322b38;
}

td,
th {
    border: 1px solid #443b4c;
    padding: 5px 10px;
}

td {
    text-align: center;
}

td.closed {
    color: red;
    font-weight: bold;
}

main {
    display: flex;
    height: calc(100vh - 106px);
    align-items: center;
    justify-content: center;
}

table {
    width: 32em;
    height: 24em;
}